<% if is_admin?%>
<h2>Offer Management</h2>
<h3>Recieved Offers</h3>
<%= render :partial => '/offers/offer_table', :locals => {:offers=> @received_offers,:operation=>false}%>
<br />
<h3>My Offers</h3>
<%= render :partial => '/offers/offer_table', :locals => {:offers=> @my_offers,:operation=>true}%>
<br />
<h3>All Offers</h3>
<%= render :partial => '/offers/offer_table', :locals => {:offers=> @offers,:operation=>false}%>
<%else%>
You don't have the authority to check this page
<%end%>