body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.grid{
  float: left;
  width: 37%;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.alert-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.others-message {
  color: #31708f;
  border-color: #bce8f1;
  text-align: right;
}

.my-message {
  color: #31708f;
  border-color: #bce8f1;
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
.required{
  color: red;
  display: inline;
  font-size: 18px;
}
.inline{
  display: inline;
}
.line-separator{
  margin: 0 0 5px 0;
  border-bottom:1px solid #cccccc;
  padding: 0px 0 0px 0;
  padding: 0px 0 2px 0;
  padding: 0px 0 2px 0;
}
.hidden-toggle {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.unread-comment {
  background-color: #fcf8e3;
}

